*{
    margin: 0px;
    padding: 0px;
}

.Header{
    background-color: black;
    width: 100%;
    height: 40px;
    display: flex;
}

#a{
    text-decoration: none;
    color: white;
    margin-left: 150px;
    display: inline-block;
    height: 100%;
    margin-top: 10px;
}

input{
    margin-left: 150px;
    height: 60%;
    margin-top: 7.7px;
    border: none;
    border-radius: 15px;
    padding-left: 5px;
}

button{
    background-color: rgb(255, 221, 0);
    height: 70%;
    margin-top: 6px;
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    border: none;
    border-radius: 15px;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;

}
#logo{
    height: 30px;
    width: 30px;
    margin-left: 50px;
    margin-top:  4.5px;
    border-radius: 50px;
}
.Content{
    background-color: rgb(255, 221, 0);
    width: 100%;
    height: 500px;
    align-items: center;
    justify-content: center;
}
#siteheading{
    text-align: center;
    position: relative;
    top: 30%;
    font-size: 25px;
}
#fstinfo{
    text-align: center;
    width: 80%;
    position: relative;
    left: 110px;
    right: 110px;
    top: 30%;
}
.About{
    height: 600px;
}
#ratin{
    height: 500px;
    width: 380px;
    margin: 50px 50px 50px 90px;
    border: solid 5px rgb(255, 221, 0);
    border-radius: 15px;
}
#about{
    
}
#aboutinfu{
    
}
hr{
    width: 20px;
}
#div{
    width: 500px;
    display: inline-block;
    position: relative;
    top: 20px;
    background-color: aqua;
}